{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Royal Kitchen</title>

	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="">
	<meta name="description" content="">
<!--

Template 2076 Royal Kitchen

http://www.tooplate.com/view/2076-Royal Kitchen

-->
	<link rel="stylesheet" href="{% static 'Myapp/css/bootstrap.min.css'%}">
	<link rel="stylesheet" href="{% static 'Myapp/css/animate.min.css'%}">
	<link rel="stylesheet" href="{% static 'Myapp/css/font-awesome.min.css'%}">
	<link rel="stylesheet" href="{% static 'Myapp/css/nivo-lightbox.css'%}">
	<link rel="stylesheet" href="{% static 'Myapp/css/nivo_themes/default/default.css'%}">
	<link rel="stylesheet" href="{% static 'Myapp/css/style.css'%}">
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,500' rel='stylesheet' type='text/css'>
</head>

<body>

<!-- preloader section -->
<section class="preloader">
	<div class="sk-spinner sk-spinner-pulse"></div>
</section>

<!-- navigation section -->
<section class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon icon-bar"></span>
				<span class="icon icon-bar"></span>
				<span class="icon icon-bar"></span>
			</button>
			<a href="#" class="navbar-brand">Royal Kitchen</a>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#home" class="smoothScroll">HOME</a></li>
				<li><a href="#gallery" class="smoothScroll">FOOD GALLERY</a></li>
				<li><a href="#menu" class="smoothScroll">SPECIAL MENU</a></li>
				<li><a href="#team" class="smoothScroll">CHEFS</a></li>
				<li><a href="#contact" class="smoothScroll">CONTACT</a></li>
				<li><a href="#Customer" class="smoothScroll">CUSTOMER</a></li>
			</ul>
		</div>
	</div>
</section>


<!-- home section -->
<section id="home" class="parallax-section">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<h1>ROYAL KITCHEN RESTAURANT</h1>
				<h2>CLEAN &amp; SIMPLE DESIGN</h2>
				<a href="#gallery" class="smoothScroll btn btn-default">LEARN MORE</a>
			</div>
		</div>
	</div>		
</section>

<!-- gallery section -->
<section id="gallery" class="parallax-section">
	<div class="container">
		<div class="row">
			<div class="col-md-offset-2 col-md-8 col-sm-12 text-center">
				<h1 class="heading">Food Gallery</h1>
				<hr>
			</div>
            {% for data in product %}
			<div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.3s">
                
				<a href="{{data.FoodImage.url}}">
                    <img src={{data.FoodImage.url}} alt="gallery img">
                </a>
                
				<div>
					<h3>{{data.FoodName}}</h3>
					<span>{{data.FoodType}}</span>
					<br>
					<span>{{data.FoodDescription}}Rs</span>
				</div>
                
			</div>

            {% endfor %}
		</div>
	</div>
</section>

<!-- menu section -->
<section id="menu" class="parallax-section">
	<div class="container">
		<div class="row">
			<div class="col-md-offset-2 col-md-8 col-sm-12 text-center">
				<h1 class="heading">Special Menu</h1>
				<hr>
			</div>
			{% for data in offers %}
			<div class="col-md-6 col-sm-6">
				
				<h4>{{data.OfferName}} ................ <span>{{data.OfferPrice}}Rs</span></h4>
				<h5>{{data.Availability}}</h5>

			</div>
			{% endfor %}
		</div>
	</div>
</section>		


<!-- Customer Form -->
<section id="Customer" class="parallax-section">
	<div class="container">
		<div class="row">
			<div class="col-md-offset-1 col-md-10 col-sm-12 text-center">
				
				<h1 class="heading">Customer Form</h1>
				<hr>
			</div>

			<div class="col-md-offset-1 col-md-10 col-sm-12 text-center">
				
				<a href="{% url 'customer'%}">Add Customer</a>
				<hr>
			</div>
			
<table class="table border">	
	<thead>
		<tr >
			<th scope="col">FirstName</th>
			<th scope="col">LastName</th>
			<th scope="col">CNIC</th>
			<th scope="col">PhoneNo1</th>
			<th scope="col">Email</th>
			<th scope="col">Address</th>
			<th scope="col">EntryDate</th>
			<th scope="col">Action</th>
		</tr>
	</thead>
<tbody>
	{% for data in dat %}
	<tr>
		<td> {{data.FirstName}} </td>
		<td> {{data.LastName}} </td>
		<td> {{data.CNIC}} </td>
		<td> {{data.PhoneNo1}} </td>
		<td> {{data.Email}} </td>
		<td> {{data.Address}} </td>
		<td> {{data.EntryDate}} </td>
		<td><a href="{% url 'updatecustomer' data.id %}" style=" color:darkcyan;">update</a> 
			<a href="{% url 'deletecustomer' data.id %}" onclick="return confirm('Are you sure to delete record of {{data.FirstName}} {{data.LastName}}..?')" style="color: maroon;" >Delete</a>
		</td>
	</tr>
	{% endfor %}
</tbody>
</table>
</div>			
</div>
</section>



<!-- team section -->
<section id="team" class="parallax-section">
	<div class="container">
		<div class="row">
			<div class="col-md-offset-2 col-md-8 col-sm-12 text-center">
				<h1 class="heading">Meet Royal Kitchen chefs</h1>
				<hr>
			</div>
			<div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.6s">
				<br>
				<br>
				<br>
				<img src="{% static 'Myapp/images/team2.jpg'%}" class="img-responsive center-block" alt="team img">
				<h4>Lynda</h4>
				<h3>Pizza Specialist</h3>
			</div>
			<div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.3s">
				<img src="{% static 'Myapp/images/team1.jpg'%}" class="img-responsive center-block" alt="team img">
				<h4>Sardar Waqas Khalid Dogar</h4>
				<h3>Main Chef</h3>
			</div>
			
			<div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.9s">
				<br>
				<br>
				<br>
				<img src="{% static 'Myapp/images/team3.jpg'%}" class="img-responsive center-block" alt="team img">
				<h4>Jenny Ko</h4>
				<h3>New Baker</h3>
			</div>
		</div>
	</div>
</section>



<!-- contact section -->
<section id="contact" class="parallax-section">
	<div class="container">
		<div class="row">
			<div class="col-md-offset-1 col-md-10 col-sm-12 text-center">
				<h1 class="heading">Contact Us</h1>
				<hr>
			</div>
			<div class="col-md-offset-1 col-md-10 col-sm-12 wow fadeIn" data-wow-delay="0.9s">
				<form action="#" method="post">
					<div class="col-md-6 col-sm-6">
						<input name="name" type="text" class="form-control" id="name" placeholder="Name">
				  </div>
					<div class="col-md-6 col-sm-6">
						<input name="email" type="email" class="form-control" id="email" placeholder="Email">
				  </div>
					<div class="col-md-12 col-sm-12">
						<textarea name="message" rows="8" class="form-control" id="message" placeholder="Message"></textarea>
					</div>
					<div class="col-md-offset-3 col-md-6 col-sm-offset-3 col-sm-6">
						<input name="submit" type="submit" class="form-control" id="submit" value="make a reservation">
					</div>
				</form>
			</div>
			<div class="col-md-2 col-sm-1"></div>
		</div>
	</div>
</section>


<!-- footer section -->
<footer class="parallax-section">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.6s">
				<h2 class="heading">Contact Info.</h2>
				<div class="ph">
					<p><i class="fa fa-phone"></i> Phone</p>
					<h4>090-080-0760</h4>
				</div>
				<div class="address">
					<p><i class="fa fa-map-marker"></i> Our Location</p>
					<h4>120 Duis aute irure, California, USA</h4>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.6s">
				<h2 class="heading">Open Hours</h2>
					<p>Sunday <span>10:30 AM - 10:00 PM</span></p>
					<p>Mon-Fri <span>9:00 AM - 8:00 PM</span></p>
					<p>Saturday <span>11:30 AM - 10:00 PM</span></p>
			</div>
			<div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.6s">
				<h2 class="heading">Follow Us</h2>
				<ul class="social-icon">
					<li><a href="#" class="fa fa-facebook wow bounceIn" data-wow-delay="0.3s"></a></li>
					<li><a href="#" class="fa fa-twitter wow bounceIn" data-wow-delay="0.6s"></a></li>
					<li><a href="#" class="fa fa-behance wow bounceIn" data-wow-delay="0.9s"></a></li>
					<li><a href="#" class="fa fa-dribbble wow bounceIn" data-wow-delay="0.9s"></a></li>
					<li><a href="#" class="fa fa-github wow bounceIn" data-wow-delay="0.9s"></a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>


<!-- copyright section -->
<section id="copyright">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<h3>Royal Kitchen</h3>
				<p>Copyright © Royal Kitchen Restaurant              
			</div>
		</div>
	</div>
</section>


<!-- JAVASCRIPT JS FILES -->	
<script src="{% static 'Myapp/js/jquery.js'%}"></script>
<script src="{% static 'Myapp/js/bootstrap.min.js'%}"></script>
<script src="{% static 'Myapp/js/jquery.parallax.js'%}"></script>
<script src="{% static 'Myapp/js/smoothscroll.js'%}"></script>
<script src="{% static 'Myapp/js/nivo-lightbox.min.js'%}"></script>
<script src="{% static 'Myapp/js/wow.min.js'%}"></script>
<script src="{% static 'Myapp/js/custom.js'%}"></script>

</body>

</html>
